#  Dictionary to Series & DataFrame

In [1]:
import pandas as pd

data =[1,2,3,4,5]
data

[1, 2, 3, 4, 5]

In [2]:
#create a dictionary

data ={ 
    'name': ['rashed','jannat','kashen'],
    'age': [10,20,30],
    'city' : ['dhaka','ctg','khulna']
}
print(data)
type(data)

{'name': ['rashed', 'jannat', 'kashen'], 'age': [10, 20, 30], 'city': ['dhaka', 'ctg', 'khulna']}

dict

In [9]:
# Creating a Series from the dictionary
name_series = pd.Series(data['name'])

print(name_series)

0      Alice
1        Bob
2    Charlie
3      David
dtype: object

In [10]:
# Creating a dataframe from the series

c=pd.DataFrame(data)
c

      name
0    Alice
1      Bob
2  Charlie
3    David